<!DOCTYPE html>
<html>
  <head>
    <title>Gallery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :javascript_includes %>
  </head>

  <header>
    <nav class="navbar navbar-light bg-light">
      <%=link_to "Gallery", root_path, class: "navbar-brand"%>
      <form class="form-inline">
        <select class="custom-select" data-select-gallery>
          <option selected>Иснуючі категорії</option>
          <% PictureGallery.all.each do |gallery|%>
            <option value="<%= gallery_path(id: gallery.id) %>">
              <%= gallery.category%>
            </option>
          <%end%>
        </select>
      </form>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
